<div class="grain"></div>
<div class="cassette">
  <div class="head"></div>
  <div class="label">
    <div class="cutout">
      <div class="reel_hole">
        <div class="gear"></div>
      </div>
      <div class="reel_hole">
        <div class="gear"></div>
      </div>
      <div class="window">
        <div class="spool"></div>
        <div class="spool"></div>
      </div>
    </div>
  </div>
  <div class="accents">
    <div class="screw i1"></div>
    <div class="screw i2"></div>
    <div class="screw i3"></div>
    <div class="screw i4"></div>
    <div class="screw i5"></div>
    <div class="hole i1"></div>
    <div class="hole i2"></div>
    <div class="hole i3"></div>
    <div class="hole i4"></div>
  </div>
</div>
<a href="https://dribbble.com/shots/2962257-Retro-Cassette-Tape-Animated" target="_blank">original artwork by Sailesh Gunasekaran</a>
