<div class="container-center-column">
  <div class="coffee-container">
    <div class="cup">
      <div class="filling reset" (click)="fillCoffee()">
      </div>
      <div class="plate"></div>
    </div>
  </div>
  <div class="enigma-question">what is the best coffee of the world?</div>
  <form [formGroup]="form" class="enigma-answer">
    <input class="enigma-input" type="text" formControlName="answer"/>
    <button class="enigma-button" (click)="next()">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">
        are you sure?
      </span>
    </button>
  </form>
  <div *ngIf="f['answer'].hasError('invalid')">
    wrong :(
  </div>
</div>
