<div class="container-center-column light-theme">
<div class="header-center">
  <div class="title">
    contact me, if you
    <span> can.</span>
  </div>
  <div class="bulb-container">
    <button class="bulb" (click)="toggleDarkMode()">
      <div class="bulb-img">
        <img src="//www.w3cplus.com/sites/default/files/blogs/2020/2002/bulb-on.png" alt="light bulb" />
      </div>
    </button>
  </div>
</div>
  <div class="container-center-column child-container">
    <router-outlet></router-outlet>
  </div>
</div>
