<div class="computer">
  <div class="screen">
    <div class="front square"></div>
    <div class="back square"></div>
    <div class="top square"></div>
    <div class="left square">
      <div class="progressbar"></div>
    </div>
    <div class="left1 square"></div>
    <div class="back1 square"></div>
    <div class="bottom1 square"></div>
  </div>
  <div class="screenbottom">
    <div class="front2 square"></div>
    <div class="top2 square"></div>
    <div class="left2 square">
      <div class="brownpart">
        <div class="disc"></div>
      </div>
    </div>
  </div>
  <div class="screenbottombottom">
    <div class="front3 square"></div>
    <div class="left3 square"></div>
    <div class="bottom3 square"></div>
  </div>
  <div class="keyboard">
    <div class="front4 square"></div>
    <div class="top4 square"></div>
    <div class="left4 square"></div>
    <div class="bottom4 square"></div>
  </div>
  <div class="keyboardkeys">
    <div class="front5 square"></div>
    <div class="top5 square"></div>
    <div class="left5 square"></div>
    <div class="bottom5 square"></div>
  </div>
  <div class="numpad">
    <div class="front6 square"></div>
    <div class="top6 square"></div>
    <div class="left6 square"></div>
    <div class="bottom6 square"></div>
  </div>
</div>
