/** root css **/
html,
body,
app-root{
  height: 100%;
  margin: 0!important;
}

body {
  background-color: #e0e0e0;
  font-family: "IBM Plex Mono", monospace;
}

.no-v-scroll {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container{
  height: 100%;
}

.dark-theme {
  background-color: black;
  color: white;
  .enigma-input{
    border-bottom: 1px solid white;
    color: white;
  }
}

.container-center-column{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enigma-question{
  font-family: "Questrial", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.enigma-answer{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 130%;
}

.enigma-input{
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  width: 500px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
}
.enigma-input:focus, .enigma-input:hover, .enigma-input:active, .enigma-input:focus-visible{
  outline: none!important;
}

button {
  &.enigma-button {
    width: 12rem;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: "Questrial", sans-serif;
    .circle {
      transition: all 0.45s cubic-bezier(0.65,0,.076,1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #000;
      border-radius: 1.625rem;
      .icon {
        transition: all 0.45s cubic-bezier(0.65,0,.076,1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: white;
        &.arrow {
          transition: all 0.45s cubic-bezier(0.65,0,.076,1);
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.30rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      display: none;
      transition: all 0.45s cubic-bezier(0.65,0,.076,1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      color: white;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      display: block;
    }
  }
}
