@use "src/colors" as colors;

.container-center-column{
  background-color: #ffdeeb;
}

.brand-box{
  color: black;
}

.card{
  background-color: #fafafa;
  border-radius: 130px;
  width: 80%;
  height: 70%;
  -webkit-box-shadow: 7px 13px 118px -38px rgba(255,117,172,1);
  -moz-box-shadow: 7px 13px 118px -38px rgba(255,117,172,1);
  box-shadow: 7px 13px 118px -38px rgba(255,117,172,1);
}

